<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haiyue.sbm.mapper.DictMapper">
    <resultMap id="BaseResultMap" type="com.haiyue.sbm.model.Dict">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
        <result column="nature" property="nature" jdbcType="VARCHAR"/>
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="del_status" property="delStatus" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getLtsKeywordsByPinyin" parameterType="map" resultType="string">
        select keyword
        from tb_lts_dict
        where pinyin= #{keyword, jdbcType=VARCHAR} and nature = #{nature, jdbcType=VARCHAR}
    </select>

</mapper>